<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BorderWidthToken</key>
	<dict>
		<key>thinFactor</key>
		<integer>1</integer>
		<key>fatFactor</key>
		<integer>2</integer>
	</dict>
	<key>Color</key>
	<dict>
		<key>BrandColorToken</key>
		<dict>
			<key>base</key>
			<string>#0246FD</string>
		</dict>
		<key>BackgroundColorToken</key>
		<dict>
			<key>base</key>
			<string>#050505</string>
		</dict>
	</dict>
	<key>Font</key>
	<dict>
		<key>base</key>
		<integer>16</integer>
	</dict>
	<key>Spacing</key>
	<dict>
		<key>base</key>
		<real>4</real>
	</dict>
</dict>
</plist>
